<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong *ngIf="!kind.id;else elseBlock">Add new</strong>
          <ng-template #elseBlock><strong>Update</strong></ng-template>
           Kind
          <button type="button" class="btn btn-sm btn-primary float-right" (click)="backList()"><i class="fa fa-chevron-left"></i>
            Back</button>
        </div>
        <form class="form-horizontal" #addKindForm="ngForm" (ngSubmit)="addKindForm.valid && addKind()">
        <div class="card-body">
          
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Kind name: </label>
              <div class="col-md-9">
                <input type="text"  [(ngModel)]="kind.name" name="name" class="form-control" placeholder="Enter Kind name.." required
                  >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-password">Kind definition</label>
              <div class="col-md-9">
                <input type="text" [(ngModel)]="kind.definition" name="definition" class="form-control"
                  placeholder="Enter Kind definition.." autocomplete="current-password">
              </div>
            </div>
          
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!addKindForm.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

